body {
    background-color: rgba(0, 162, 255, 0.856);
    font: normal 20pt arial;
    }
    header {
    color: white;
    text-align: center;
    text-shadow:8px 8px 9px black;
    }
    section {
        color: rgba(0, 162, 255, 0.856);;
            text-align: center;   
            text-shadow:8px 8px 9px;
            background-color: rgba(0, 0, 0, 0.678);
            border-radius: 10px;
            padding: 10px;
            width: 200px;
            margin:auto;
            box-shadow:5px 5px 15px rgba(0, 0, 0, 0.548);
            
    }
    section {
        color: rgba(0, 162, 255, 0.856);
        text-align: center;
        text-shadow:8px 8px 9px black;
       
    
    }
    section {
        color: rgba(0, 162, 255, 0.856);;
        text-align: center;
        text-shadow:8px 8px 9px black;

    }
    footer {
        color: rgba(0, 162, 255, 0.856);;
        text-align: center;
        text-shadow:8px 8px 9px black;
        background-color: rgba(0, 0, 0, 0.678);
        border-radius: 10px;
        padding: 5px;
        width: 300px;
        margin:auto;
        box-shadow:5px 5px 15px rgba(0, 0, 0, 0.548);  
        border-bottom-right-radius: 45px;
        border-bottom-left-radius: 45px;
        border-bottom-style: hidden;
    }