body {
  padding: 30px;
  background-image:linear-gradient(to top, rgba(0, 0, 0, 0.459), #c0bcbc87);
  padding-bottom: 500px;

}
h1{
  font-size: 2.5em;
  color: #333;
  text-shadow: 1px 0px 2px black;

}
h2{
  color: rgb(78, 78, 8);
  text-decoration: underline;
}
img{
  border-radius: 100% ;
}


