body {
  padding: 30px;
  background-image:linear-gradient(to top, rgba(0, 0, 0, 0.459), #c0bcbc87);
  padding-bottom: 500px;

}
h1{
  font-size: 2.5em;
  color: #333;
  text-shadow: 1px 0px 2px black;

}
h2{
  color: rgb(78, 78, 8);
  text-decoration: underline;
}
p,a{
  background-color: rgba(51, 51, 51, 0.773);
  color: rgb(150, 150, 16);
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  text-decoration: none;
  padding: 10px;
  margin: auto;
  max-width: 260px;
}

img{
  border-radius: 100% ;
}
input{
  background-color: rgba(51, 51, 51, 0.773);
  color: rgb(150, 150, 16);
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}
button{
  background-color: rgba(51, 51, 51, 0.773);
  color: rgb(150, 150, 16);
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}
button:hover{
  background-color: rgb(150, 150, 16);
  color: rgba(51, 51, 51, 0.773);
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;

}

