body {
font: normal 20pt arial;
}
header {
background-color: tomato;
color: turquoise;
text-align: center;
}
section {

    text-align: center;

}
section {
    text-align: center;

}
footer {
    text-align: center;
}