body{
    background-color: aqua;
    font: normal 15pt arial;    
}

header { 
color: white;
text-align: center;
text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);
}
section {
background-color: white;
border-radius: 15px;
padding: 15px;
width: 500px;
margin:auto;
box-shadow:5px 5px 5px rgba(0, 0, 0, 0.37);
}
div {
    text-align: center;
    padding: 15px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
}

footer {
color: white;
text-align: center;
font-style: italic;
text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);

}
